
body{
    
 }
 .banner{
    width: 100%;
 }
 .principal{
    background: pink;
    padding: 30px;
 }
 titulo-especial{
    padding-left:20px ;
 }
.titulo-centralizado{
    text-align: center;
    
 }
p{
    text-align: center;
}
#missao {
    font-size:20px ;
}
em strong {
    color: rgb(139, 59, 115);
}
.itens {
    font-style: italic;
}
.beneficios{
    background: #ffffff;  
    padding: 20px;  
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
.imagemBeneficio{
    width: 50%;
}